      <section id="header">
        <a href="#"> <img src="/assets/images/logo.png" class="logo" alt=""></a>
     
        <div>
            <ul id="navbar" class="float-left">
                <li><a routerLink="home"  routerLinkActive="active-link" class="active">Home</a></li>  <!-- "I have added a class name to apply the hover/underline effect on the current link" -->
                <li><a routerLink="/enroll" routerLinkActive="active-link">Enroll</a></li>
                <li><a routerLink="/departments" routerLinkActive="active-link">Department</a></li>
                <li><a routerLink="/reactive" routerLinkActive="active-link">Reactive</a></li>
                <!-- close button for the hambager menu  -->
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <!-- Adding a hambager menu  -->
  
    </section>
    
        <!-- HERO SECTION  -->
        <section id="hero">
            <h4> Trade-in-offer </h4>
            <h2>Super value deals</h2>
            <h1> On all products</h1>
            <p> Save more with coupons & upto 70% off!</p>
            <button> Shop Now!</button>
        </section>
        <!-- HERO SECTION END -->